@keyframes contato-bg {
  0% {
    transform: scale(1) translateY(0);
    filter: blur(0px) brightness(1);
  }
  50% {
    transform: scale(1.04) translateY(-10px);
    filter: blur(2px) brightness(1.05);
  }
  100% {
    transform: scale(1) translateY(0);
    filter: blur(0px) brightness(1);
  }
}

.animate-contato-bg {
  animation: contato-bg 20s linear infinite;
}
@import "tailwindcss";


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
  to bottom right,
  #f0e8dd,
  rgba(240, 232, 221, 0.7),
  #e6dccf);
  height: 100vh;
}


@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}


@keyframes drive {
  from {
    transform: translateX(0) translateY(-50%);
  }
  to {
    transform: translateX(-120vw) translateY(-50%);
  }
}
